<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.3-alpha" targetFramework="net40-Client" />
  <package id="Accord.Imaging" version="3.6.3-alpha" targetFramework="net40-Client" />
  <package id="Accord.Math" version="3.6.3-alpha" targetFramework="net40-Client" />
  <package id="Accord.Statistics" version="3.6.3-alpha" targetFramework="net40-Client" />
  <package id="AForge" version="2.2.5" targetFramework="net40-Client" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40-Client" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40-Client" />
  <package id="Emgu.CV" version="3.2.0.2721" targetFramework="net40-Client" />
  <package id="ImageProcessor" version="2.5.4" targetFramework="net40-Client" />
  <package id="OpenCV.Net" version="3.3.1" targetFramework="net40-Client" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net40-Client" />
</packages>